* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.webpages {
    display: flex;
    /* justify-content: right; */
    /* justify-items: right;
    justify-self: right; */
    align-items: end;
    list-style: none;

}

.navbar {
    display: flex;
    border: 1px solid red;
    margin-bottom: 1rem;
    padding: 0.7rem;
}

.intro {
    display: flex;
    border: 1px solid red;
    padding: 2rem;
}

.speakers {
    border: 1px solid red; 
}

.speakers-image {
    display: flex;
    /* border: 1px solid red; */
}  

/* .bobby-image {
    height: 10px;
    width: 20px;
}

.jenny-image {
    height: 10px;
    width: 20px;
}

.jacob-image {
    height: 10px;
    width: 20px;
}

.clara-image {
    height: 10px;
    width: 20px;
} */


