* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    /* flex-flow: row wrap; */

    justify-content: space-between;
    align-items: stretch;
    /* height: 100%; */
    margin: auto;
}

.navbar ul li {
    margin-left: 20px;
    
}

.Image-container {
    height: auto;
    max-width: 100%;
}

.article {
    margin: 10px 20px;
}

.hero {
    background-color: #1f2937;
    border: 10px;

}

.signupbtn {
    background-color: #3882f6;
}

.qoute {
    font-size: 36px light;
    color: light #1f2937;
}